#borde1{
  border:3px solid brown;
  border-radius:22px;
  padding: 9px;
}
#encabezado{
  background-color: silver;
}
.parrafo1{
  margin-left: 50px;
}
.pie{
  border: 1px solid black;
  background-color: gray;
}
.bot1{
  background-color: black;
}
h1{
  text-align: center;
}
p{
  text-align: justify;
}
